html {
	font-size: 100%;
}



body{
	margin: 0;
	background-color: coral;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 15px;
}

/*header*/

	header img{
		border-bottom: 12px solid white;
		display: block;
		width: 100%;
	}

	h1, h2{
		font-family: 'Monda', sans-serif;
		color: white;
		font-size: 2em;
	}

	header h1{
		font-size: 6em;
	}

	/*to center h1 on top of header img*/

	.container {
		position: relative;
		text-align: center;
		color: white;
		}

	.centered {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		}


/*main*/
	
	
	/*main general (margin, text color)*/

	main {
		margin: 20px;
		color: maroon;
	}

	/*images*/

	main img {
		border-radius: 25%;
    	max-width: 75%;
    	height: auto;
   		width: auto\9; /* ie8 */
		border: 12px solid white;
	}


